body{
	font-family:sans-serif;
	background-color:#d0d0d0;
	width:100%;
}
#main{
	background-image:url('http://s1.1zoom.ru/big3/355/353382-sepik.jpg');
  background-size:cover;
  height:500px;
  color:#ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  text-align:center;
  padding:10em 0;
}
header{
	margin-bottom:20px;
}
nav{
	margin-top:30px;
	font-size:20px;
}
.jumbotron{
	background-color:#d0d0d0;
}